<footer>
  <div class="container">
    <div class="footer-menu d-flex mb-36">
      <div class="footer-content">
        <ul class="footer-text d-flex">
          <li class="mr-48"><a href="#">首頁</a></li>
          <li class="mr-48"><a href="#">系列鏡框</a></li>
          <li class="mr-48"><a href="#">門市據點</a></li>
          <li class="mr-48"><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
      </div>
      <div class="footer-socila">
        <a href="#" class="mr-32"
          ><img src="/assets/images/ic_social_fb.svg" alt="FB"
        /></a>
        <a href="#" class="mr-32"
          ><img src="/assets/images/ic_social_ig.svg" alt="IG"
        /></a>
        <a href="#"
          ><img src="/assets/images/ic_social_line.svg" alt="LINE"
        /></a>
      </div>
    </div>
    <div class="footer-contact mb-32">
      <div class="tel-box">
        <div class="tel d-flex">
          <span class="material-symbols-outlined mr-20"> call </span>
          <p>0800-000-000</p>
        </div>
        <div class="tel-img">
          <a class="mr-8" href="#"
            ><img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
              alt="fb"
          /></a>
          <a class="mr-8" href="#"
            ><img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
              alt="ig"
          /></a>
          <a href="#"
            ><img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
              alt="line"
          /></a>
        </div>
      </div>
      <div class="email d-flex">
        <span class="material-symbols-outlined mr-20"> mail </span>
        <p>glasses@business.com</p>
      </div>
    </div>
    <div class="copyright d-flex">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <div class="end-list d-flex">
        <p class="mr-48">隱私權政策</p>
        <p class="footer-text">服務條款</p>
      </div>
    </div>
  </div>
</footer>
