footer {
  background: $color-main;
  padding-top: 48px;
  padding-bottom: 32px;
  color: #ffffff;
  .footer-menu {
    justify-content: space-between;
    align-items: center;
    @include xl {
      display: none;
    }
    .footer-text {
      a {
        color: #ffffff;
        &:hover {
          color: #ffffffb2;
        }
      }
    }
  }
  .footer-contact {
    .tel-box {
      @include xl {
        display: flex;
        justify-content: space-between;
      }
      .tel {
        align-items: center;
        span {
          font-size: $font-l;
          @include xl {
            font-size: 20px;
          }
        }
        a {
          font-size: $font-l;
          color: #ffffff;
          &:hover {
            color: #ffffffb2;
          }
          @include xl {
            font-size: 16px;
          }
        }
      }
      .tel-img {
        display: none;
        @include xl {
          display: flex;
        }
        img {
          width: 24px;
          height: 24px;
          @include xl {
            margin-right: 8px;
          }
        }
      }
    }
    .email {
      align-items: center;
      span {
        font-size: 40px;
        @include xl {
          font-size: 20px;
        }
      }
      a {
        font-size: $font-l;
        color: #ffffff;
        &:hover {
          color: #ffffffb2;
        }
        @include xl {
          font-size: 16px;
        }
      }
    }
  }
  .copyright {
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff;
    padding-top: 32px;
    @include xl {
      flex-direction: column;
      align-items: start;
    }
    a {
      color: #ffffff;
      &:hover {
        color: #ffffffb2;
      }
      @include xl {
        margin-bottom: 8px;
      }
    }
    .end-list {
      @include xl {
        flex-direction: column;
      }
      .footer-text {
        margin-bottom: 0;
      }
    }
  }
}
