nav {
  background: $color-main;
  padding: 16px 0;
  .container {
    @include pad {
      padding: 0;
    }
    .header {
      justify-content: space-between;
      align-items: center;
      @include pad {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        max-width: 100%;
        margin: 0;
      }
      h1 {
        a {
          background-image: url(/assets/images/logo-new_工作區域\ 1.png);
          background-size: cover;
          width: 80px;
          height: 49px;
          text-indent: 101%;
          overflow: hidden;
          white-space: nowrap;
          float: left;
          @include pad {
            margin: 0 0 16px 16px;
          }
        }
      }
    }
  }
}

.header-menu {
  justify-content: space-between;
  @include pad {
    flex-wrap: wrap;
    width: 100%;
  }
  li {
    @include pad {
      border: 1px solid #ffffff;
      width: 50%;
      margin-right: 0;
      text-align: center;
      padding: 12px 0;
    }
  }
  a {
    color: #ffffff;
    font-size: $font-s;
    &:hover {
      color: #ffffffb2;
    }
  }
}
